$bgcolor: #FFFFFF;
$colorlightl: #F6F6F6;
$item-menu-color: #CDCDCD;
$item-menu-active: #FAFAFA;
$item-menu-active-border-bottom: #F1CDB3; ///почему то оранжевым отдает

$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;
