$bgcolor: #FFFFFF;
$color-light-l: #F6F6F6;
$item-menu-color: #CDCDCD;
$item-menu-active: #FAFAFA;
$item-menu-active-border-bottom: #F1CDB3; ///почему то оранжевым отдает
$color-primary: #F1CDB3;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-button: #F1CDB3;
$color-button-active: #FDDCC4;
$color-dark-l: #545454;
$color-light-s: #FAFAFA;;


$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;
