@charset "UTF-8";
.item-menu a {
  font-family: Arial;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  color: #CDCDCD;
  line-height: 160%;
}
.item-menu a:hover {
  color: #FAFAFA;
  border-bottom: 3px solid #FAFAFA;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 10px;
}

body {
  background-color: #FFFFFF;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: url("noise-transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.header__container {
  display: flex;
  width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 3.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  padding: 31px 0 1px 1px;
  color: #F1CDB3;
}

.logo_subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  padding: 10px 0 0 4px;
  color: #FFFFFF;
}

.nav-panel {
  display: flex;
  flex-direction: row;
  width: 443px;
  justify-content: space-between;
  padding: 25px 0px 0px 0px;
}

.button-primary {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  margin-top: 42px;
  cursor: pointer;
}
.button-primary span {
  width: 117px;
  height: 22px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}
.button-primary:hover {
  background-color: #FDDCC4;
}

.button_secondary {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
}
.button_secondary span {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}

.button-pets-card {
  background-color: #F1CDB3;
  width: 261px;
  height: 52px;
}

.startScreen {
  height: 815px;
  background: url("noise-transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.startScreen__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 815px;
}

.startScreen__block {
  margin: 5px 0px 0px 0px;
  width: 460px;
}
.startScreen__block h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5.7rem;
  color: #FFFFFF;
  width: 310px;
}
.startScreen__block .text-startScreen {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #CDCDCD;
  margin-top: 42px;
}

.start-screen-puppy {
  width: 698px;
  height: 728px;
  align-self: flex-end;
}
.start-screen-puppy span {
  background-image: url(img/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.about__container {
  height: 408px;
  background-color: #FFFFFF;
  margin: 80px 40px 100px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
}

.about-img {
  padding: 0px 0px 0px 0px;
  width: 300px;
}

.about-block {
  width: 500px;
  height: 390px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-block h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  width: 370px;
}
.about-block .about-paragraf {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #CDCDCD;
  width: 430px;
}

.pets__section {
  background-color: #F6F6F6;
}

.petsSection__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 877px;
}
.petsSection__container h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  width: 400px;
  text-align: center;
}
.petsSection__container h3 p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  color: #545454;
  width: 400px;
  text-align: center;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1200px;
}
.slider .pets-card {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.slider .pets-card .img-pets-card {
  border-radius: 9px 9px 0px 0px;
}
.slider .pets-card h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.right-arrow {
  transform: rotate(180deg);
}/*# sourceMappingURL=style.css.map */